<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to takeout!<%=employee.name%></h1>
    <form action="/employee/profile/<%=employee.id%>?_method=PUT" method="POST">
        Name: <input type ="text" name ="name" value="<%=employee.name%>"/>
        Username: <input type ="text" name= "username" value ="<%=employee.username%>"/> <br> <br>
        Password: <input type ="text" name="password" value= "<%=employee.password%>"/> <br> <br>
        <input type ="submit" value="Edit Profile"> 
    </form>

    <form action = "/employee/profile/<%=employee.id%>?_method=DELETE" method = "POST">
        <br> <br>
        <input type="submit" value="Delete User" />
    </form>