<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/css/style.css" />
    <title>Document</title>
</head>
<body>
    <h1>Welcome to takeout! <br> <%=employee.name%> <br> </h1>
    <div class="profile">
    <form action="/employee/<%=employee._id%>?_method=PUT" method="POST">
        Name: <input type ="text" name ="name" value="<%=employee.name%>"/>
        Username: <input type ="text" name= "username" value ="<%=employee.username%>"/> <br> <br>
        Password: <input type ="password" name="password" value= "<%=employee.password%>"/> <br> <br>
      
        <input type ="submit" value="Edit Profile"> 
    </form>

    <form action = "/employee/<%=employee._id%>?_method=DELETE" method = "POST">
        <br> <br>
        <input type="submit" value="Delete Profile" />
    </form>
        <h1>My Experiences: </h1>
        <% for(let i=0; i<entries.length; i++){ %>
            <a href="/entries/<%=entries[i]._id%>"><%=entries[i].title%></a>
            <form action="/entries/<%=entries[i]._id%>?_method=DELETE" method="POST">
                <input type = "submit" value="delete" />
            </form>
        <% } %>
        <br> <br>
  
       </div>
        <nav>
        <a href="/entries/all">View All Entries</a>
        <a href="/entries/new/<%=employee._id%>">Write it Out </a>
        <a href="/" class="button">Log Out</a>
        </nav>

  